{% extends 'base.html' %}

{% block title %}Play Games at my After-Party!{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12 col-md-8">
      <img src="/static/img/cupcake.png" align="right" alt="Cupcake">

      <h2>Welcome</h2>
      <p>Add a game you would like to play at my party!</p>

    </div>

    <div class="col-xs-12 col-md-4">

        <h2>Please add your game</h2>

        <form method="POST" action="/add-game">
          <div class="form-group">
            <label for="field-name">Game</label>
            <input id="game-name" class="form-control" type="text" name="game" required>
          </div>
          <div class="form-group">
            <label for="field-name">Description</label>
            <textarea class="form-control" name="description" required></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Oooh! I want to play!" class="btn btn-primary">
          </div>
        </form>
    </div>
  </div>


{% endblock %}